.login-page__butterfly-image {
  transition: all 1s ease-out;
  filter: blur(9px) contrast(0.5);
}

.login-page__butterfly-image:hover {
  filter: blur(0px) contrast(0.5); 
}

.dark .login-page__butterfly-image {
  filter: blur(9px) contrast(0.5) invert(0.5);
}

.dark .login-page__butterfly-image:hover {
  filter: blur(0px) contrast(0.5) invert(0.7);
}