@media (min-width: 768px) {
  .article-modal {
    @apply max-w-3xl;
    height: 95vh;
  }
}

/* article */
article h3,
article h4,
article h5,
article p,
article ul,
article ol,
article li,
article img {
  @apply mb-2;
}

article h1,
article h2,
article h3 {
  font-weight: bold;
}

article p {
  font-weight: normal;
}

article iframe,
article video {
  width: 100%;
  aspect-ratio: 4 /3;
}

article .article-body a {
  @apply text-blue-800;
}

article .article-body a:hover {
  @apply underline;
}

article hr {
  @apply mb-4;
}

article {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

article,
article h4,
article h5,
article p {
  @apply text-base;
}

article p {
  @apply mb-2;
}

article h1 {
  @apply text-2xl;
}

article h2 {
  @apply text-xl;
}

article h2 {
  @apply text-lg;
}

.article-header__tilte {
  transition: all 340ms ease-in-out;
}

.article-header__tilte.enter {
  transform: translateY(150%);
}

.article-header__tilte.enter-active{
  transform: translateY(0);
}

.article-header__tilte.exit-active{
  transform: translateY(150%);
}

.article-header__tilte.exit-done {
  transform: translateY(150%);
}