.article-header__tilte {
    transition: all 340ms ease-in-out;
}

.article-header__tilte.enter {
    transform: translateY(150%);
}

.article-header__tilte.enter-active {
    transform: translateY(0);
}

.article-header__tilte.exit-active {
    transform: translateY(150%);
}

.article-header__tilte.exit-done {
    transform: translateY(150%);
}

article {
    -webkit-font-smoothing: antialiased;
    font-weight: 400;

    --gap-between-segments: 0.5rem;
}

/* article */
article p,
article ul,
article ol,
article li,
article img {
    margin-bottom: var(--gap-between-segments);
}

article p {
    font-weight: normal;
}

article iframe,
article video {
    width: 100%;
    aspect-ratio: 4 /3;
}

.article-body a {
    @apply text-blue-800;
}

.article-body a:hover {
  text-decoration: underline;
}

article h1 {
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

article h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

article h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

article h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

article h5 {
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

article p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

article ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

article ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
