.scrollbar-none {
    --width: 0;
    --foreground-color: #c2c3c7;
    --background-color: #e5e7eb7a;
}

.scrollbar-none::-webkit-scrollbar {
    width: var(--width);
}

.fr-spin {
    animation: spin 1000ms ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.truncat-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncat-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
