.App {
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
}

.full-screen-loading__animation-wrapper {
  transition: all 400ms ease-out;
}

.full-screen-loading__animation-wrapper.enter-active {
}

.full-screen-loading__animation-wrapper.enter {
}

.full-screen-loading__animation-wrapper.exit {
}

.full-screen-loading__animation-wrapper.exit-active {
}

.full-screen-loading__animation-wrapper.enter .book {
  transform: scale(0.85);
}

.full-screen-loading__animation-wrapper.enter-active .book {
  transform: scale(1);
}

.full-screen-loading__animation-wrapper.exit .book {
  opacity: 1;
  transform: scale(1);
}

.full-screen-loading__animation-wrapper.exit-active .book {
  opacity: 0;
  transform: scale(0.85);
}

.full-screen-loading__animation-wrapper.exit .full-screen-loading__wrapper {
  opacity: 1;
}

.full-screen-loading__animation-wrapper.exit-active
  .full-screen-loading__wrapper {
  opacity: 0;
}

.ms-Modal-scrollableContent {
  overflow-y: hidden;
}

.article-wrapper::-webkit-scrollbar {
  width: 0;
}

.ms-Panel-main.ms-motion-slideUpIn {
  animation-name: fread-motion-slideUpIn;
  animation-duration: 300ms;
}

.ms-Panel-main.ms-motion-slideDownOut {
  animation-name: fread-motion-slideDownOut;
  animation-duration: 200ms;
}

@keyframes fread-motion-slideUpIn {
  0% {
    transform: translate3d(0, 80%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fread-motion-slideDownOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
