article h3,
article h4,
article h5,
article p,
article ul,
article ol,
article li,
article img {
  @apply mb-2;
}

article iframe {
  width: 100%;
  aspect-ratio: 4 /3;
}

article a {
  text-decoration: underline;
}

article hr {
  @apply mb-4;
}

article h1 {
  @apply text-2xl;
}

article h2 {
  @apply text-xl;
}

article h3,
article h4,
article h5,
article p {
  @apply text-lg;
}

article p {
  @apply mb-2;
}